.container {
    max-width: 960px;
}

nav .container {
    max-width: 100%;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.table-responsive {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.slidercontent {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: white;
    font-size: 16px;
    left: 0;
    margin: 0;
    padding: 5px 0;
    position: absolute;
    width: 100%;
}

.img-full {
    min-width: 100%;
}

legend.top {
    font-weight: bold;
    padding-left: 4%;

}

legend.bottom {
    font-size: 18px;
    font-style: italic;

}

#button {
    margin-left: 5%
}

/*formatting for payment information*/
form fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 20px;
    padding: 0 0 0 30px;
    width: auto;
}

form fieldset ol li {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    list-style-type: none;
}

form fieldset fieldset .substype label {
    padding: 0;
}

form label[for=visa] {
    background-image: url("../images/visa.gif");
}
form label[for=amex] {
    background-image: url("../images/amex.gif");
}
form label[for=mastercard] {
    background-image: url("../images/mastercard.gif");
}

.card {
    height: 290px;
}

.panel {
    max-height: 300px;
}

#panelsticky {
    padding: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
}
#panelsticky.show {
    display: block;
}
#flipsticky {
    background-color: grey;
    border-radius: 0 5px 5px 0;
    bottom: 100px;
    color: white;
    height: 105px;
    left: 0;
    position: fixed;
    width: 40px;
}
#flipsticky span {
    filter: none;
    font-size: 17px;
    letter-spacing: 2px;
    position: absolute;
    top: 40px;
    transform: rotate(-90deg);
    white-space: nowrap;
    right: -25px;
}

iframe {
    border: none;
}