/* Form appearance */
html, body, h1, form, fieldset, legend, ol, li {
    margin: 0;
    padding: 0;
}
body {
    background: #f3f8b9;
    color: #0715cd;
    font-family: Verdana;
    padding: .5%;
}

h1{
    text-align: center;
    padding: 2%;
}
form{
    background: #c4ffe9;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    border-radius: 2%;
    padding: 2%;
    margin-left:auto;
    margin-right:auto;
    width:75%;
}

form fieldset {
    border: double;
    border-color: black;
}


/* Styled list items*/
li {
    border-width: 5%;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    border-radius: 2%;
    list-style: none;
    padding: 1% 2%;
    margin-bottom: .5%;
    font-size: 14px;
}

form ol ol li {
    background: none;
    border: none;
    float: left;
}

h3 {
    text-align: left;
    padding-bottom: 2%;
    font-size: 16px;
    font-weight: bolder;
}

legend{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: black;
}

form fieldset fieldset legend {
    font-size: 14px !important;
}

#signup-button {
    margin-left:auto;
    margin-right:auto;
    display: block;
    width: 100px;
    margin-top: 2%;
    padding: 1%;
}

/*formatting for payment information*/
form fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 20px;
    padding: 0 0 0 30px;
    width: auto;
}

form fieldset fieldset .substype label {
    padding: 0;
}

form label[for=visa] {
    background-image: url("../images/visa.gif");
}
form label[for=amex] {
    background-image: url("../images/amex.gif");
}
form label[for=mastercard] {
    background-image: url("../images/mastercard.gif");
}

/*Separate styling for larger screens*/
@media only screen and (min-width: 750px){

    form{
        background: #c4ffe9;
        -moz-border-radius: 2%;
        -webkit-border-radius: 2%;
        border-radius: 2%;
        padding: 2%;
        width: 60%;
    }

    legend{
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        color: black;
        padding-bottom: 2%;
    }

    li {
        font-size: 18px;
    }

    form fieldset {
        border: groove;
        border-color: blue;
        border-width: 5px;
}
    form fieldset fieldset legend {
        font-size: 20px !important;
}

h3 {
    text-align: left;
    padding-bottom: 2%;
    font-size: 25px;
    font-weight: bolder;
}

}

